<div class="d-flex justify-content-center mt-5">
    <div class="form-signin">
        <form [formGroup]="this.loginForm" (ngSubmit)="this.onSubmit()">
            <h1 class="h3 mb-4 fw-normal text-center">Log in</h1>
        
            <div class="form-floating my-3">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                <span class="text-danger" *ngIf="loginForm.get('email')?.invalid 
                                                && loginForm.get('email')?.touched 
                                                && loginForm.get('email')?.errors!['required']">
                    Email address is required
                </span>
                <span class="text-danger" *ngIf="loginForm.get('email')?.invalid 
                                                && loginForm.get('email')?.touched 
                                                && loginForm.get('email')?.errors!['pattern']">
                    Email address is not valid
                </span>
            </div>

            <div class="form-floating my-3">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                <span class="text-danger" *ngIf="loginForm.get('password')?.invalid 
                                                && loginForm.get('password')?.touched 
                                                && loginForm.get('password')?.errors!['required']">
                    Password is required
                </span>
            </div>

            <button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>

    <div class="col-4">
        <p>Form Status: {{loginForm.status}}</p>
        <p>Email Status: {{loginForm.get('email')?.status}}</p>
        <p>Email Touch: {{loginForm.get('email')?.touched}}</p>
        <p>Email Dirty: {{loginForm.get('email')?.dirty}}</p>
        <pre>{{loginForm.value | json}}</pre>
    </div>
</div>