<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <img src="/assets/images/logo.png" style="max-height: 70px;" class="ms-3" alt="logo" routerLink="/" />
    
    <nav class="d-flex flex-grow-1 justify-content-center mt-2 mt-md-0 text-uppercase" style="font-size: large;">
      <a class="me-5 py-2 text-decoration-none" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a class="me-5 py-2 text-decoration-none" [routerLink]="['/shop']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Shop</a>
      <a class="me-5 py-2 text-decoration-none" href="#">Contact</a>
      <a class="me-5 py-2 text-decoration-none" [routerLink]="['/test-error']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Errors</a>
    </nav>

    <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative ms-5 me-5 text-decoration-none text-dark">
            <fa-icon [icon]="faCartShopping" size="2x"></fa-icon>
            <div class="cart-no" *ngIf="(this.basketService.basket$ | async) as basket">
                {{basket.items.length}}
            </div>
        </a>
        <a href="#" class="btn btn-outline-secondary me-3">Login</a>
        <a href="#" class="btn btn-outline-secondary me-3">Sign up</a>
    </div>
</div>