<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <img src="/assets/images/logo.png" style="max-height: 70px;" class="ms-3" alt="logo" routerLink="/" />
    
    <nav class="d-flex flex-grow-1 justify-content-center mt-2 mt-md-0 text-uppercase" style="font-size: large;">
      <a class="me-5 py-2 text-decoration-none" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a class="me-5 py-2 text-decoration-none" [routerLink]="['/shop']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Shop</a>
      <a class="me-5 py-2 text-decoration-none" href="#">Contact</a>
      <a class="me-5 py-2 text-decoration-none" [routerLink]="['/test-error']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Errors</a>
    </nav>

    <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative ms-5 me-5 text-decoration-none text-dark">
            <fa-icon [icon]="faCartShopping" size="2x"></fa-icon>
            <div class="cart-no" *ngIf="(this.basketService.basket$ | async) as basket">
                {{basket.items.length}}
            </div>
        </a>
        
        <ng-container *ngIf="(this.accountService.currentUser$ | async) === null || (this.accountService.currentUser$ | async)?.token === ''; else displayUserProfileMenu">
          <a routerLink="/account/login" class="btn btn-outline-secondary me-3">Login</a>
          <a routerLink="/account/register" class="btn btn-outline-secondary me-3">Sign up</a>
        </ng-container>
        
        <ng-template #displayUserProfileMenu>
          <div class="dropdown me-5" dropdown>
            <a style="cursor: pointer;" dropdownToggle>
              <strong>Welcome {{(this.accountService.currentUser$ | async)?.displayName}}</strong>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
              <a routerLink="/basket" class="dropdown-item d-flex align-item-center py-2">
                <fa-icon [icon]="faShoppingCart" class="me-3"></fa-icon> View Basket
              </a>
              <a href="" class="dropdown-item d-flex align-item-center py-2">
                <fa-icon [icon]="faHistory" class="me-3"></fa-icon> View Orders
              </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item d-flex align-item-center py-2">
                <fa-icon [icon]="faSignOut" class="me-3"></fa-icon> Logout
              </a>
            </div>
          </div>
        </ng-template>
    </div>
</div>